<p id="notice"><%= notice %></p>

<h1>Sample Memos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sample_memos.each do |sample_memo| %>
      <tr>
        <td><%= sample_memo.title %></td>
        <td><%= sample_memo.content %></td>
        <td><%= link_to 'Show', sample_memo %></td>
        <td><%= link_to 'Edit', edit_sample_memo_path(sample_memo) %></td>
        <td><%= link_to 'Destroy', sample_memo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample Memo', new_sample_memo_path %>
