<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sample_memo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @sample_memo.content %>
</p>

<%= link_to 'Edit', edit_sample_memo_path(@sample_memo) %> |
<%= link_to 'Back', sample_memos_path %>
