<p id="notice"><%= notice %></p>

<h1>マイページ</h1>

<%= paginate @memos %>
<%= link_to 'New Memo', new_memo_path, class: "btn btn-info" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">内容</th>
    </tr>
  </thead>
  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.title %></td>
        <td><%= memo.content %></td>
        <td>
          <%= link_to 'Show', memo, class: "btn btn-success" %>
          <%= link_to 'Edit', edit_memo_path(memo), class: "btn btn-warning" %>
          <%= link_to 'Destroy', memo, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>