<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <%= @memo.title %>
  </div>
  <div class="card-body">
    <%= @memo.content %>
  </div>
</div>
<%= link_to 'Edit', edit_memo_path(@memo), class: "btn btn-warning" %>
<%= link_to 'Back', memos_path, class: "btn btn-secondary" %>
